[user]
	name = Sébastien Theys
	email = seb@odoo.com
	signingKey = /home/seb/.ssh/id_rsa.pub
[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[cola]
	tabwidth = 4
	spellcheck = false
	expandtab = true
	statusshowtotals = true
	textwidth = 72
[gui]
	editor = code
	diffcontext = 5
[merge]
	verbosity = 5
[alias]
	checkoutr = checkout
[gpg]
	program = gpg
	format = ssh
[core]
	editor = code --wait
	untrackedCache = true
	fsmonitor = true
[pull]
	ff = only
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[maintenance]
	repo = /home/seb/repo/upgrade
	repo = /home/seb/repo/design-themes
	repo = /home/seb/repo/odoo
	repo = /home/seb/repo/enterprise
[fetch]
	writeCommitGraph = true
[rebase]
	updaterefs = true
