[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[cola]
	tabwidth = 4
	spellcheck = false
	expandtab = true
	statusshowtotals = true
	textwidth = 72
[gui]
	editor = code
	diffcontext = 5
[merge]
	verbosity = 5
[alias]
	checkoutr = checkout
[core]
	editor = code --wait
	untrackedCache = true
[pull]
	ff = only
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[fetch]
	writeCommitGraph = true
[rebase]
	updaterefs = true
[checkout]
	workers = 0
[maintenance "prefetch"]
	enabled = false
[include]
	path = ~/.gitconfig.local
