[Desktop Entry]
Name=Odoo bundle opener
Comment=Open odoo-bundle:// links from gbs
Exec=sh -c "exec \\"\\$HOME/virtualenvs/odoo20/bin/python\\" \\"\\$HOME/repo/useful-things/scripts/bundle_open.py\\" \\"\\$1\\"" sh %u
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/odoo-bundle;
